# Arduino / ESP32

# Editor workspace
.vscode/

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Build artifacts
*.bin
*.elf
*.hex
*.map
*.zip

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak
